.header-bg {
  background: #000000;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1160px;
  margin: 0px auto;
  gap: 20px;
  flex-wrap: wrap;
}

.header-botao {
  flex-wrap: wrap;
  display: flex;
  gap: 40px;
}

.header-menu a {
  padding: 16px 0px;
  font-size: 1.125rem;
  color: #ffffff;
  position: relative;
  flex-wrap: wrap;
}

.header-botao a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #ffffff;
  margin-top: 5px;
  position: absolute;
}

.header-botao a:hover:after {
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .header-botao a::after {
    display: none;
  }

  .header-botao a {
    padding: 12px 16px;
    background: #111111;
    margin-top: 10px;
  }

  .header-botao a:hover {
    background: #2a2a2a;
  }
}
