.introducao-bg {
  background: #000000;
}

.introducao {
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px;
  gap: 0px 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.introducao a {
  color: #ffffff;
}

.introducao-conteudo {
  align-self: flex-end;
  padding-bottom: 80px;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}
.introducao-conteudo h1 span {
  color: #ffbb00;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao img {
  border-radius: 4px;
}

.introducao a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
